<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">🔐 Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Username -->
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
        />
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>

      <!-- Submit Button -->
      <div  class="d-grid gap-2 mt-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loading || loginForm.invalid"
        >
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
          Login
        </button>
         <button
    type="button"
    class="btn btn-link"
    routerLink="/register"
  >
    New user? Register
  </button>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
        {{ errorMessage }}
      </div>

    </form>
  </div>
</div>
